#availableTime{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
h3{
    color: #0a8d48;
    margin-top: 0px;
}
section{
    margin: 5%;
    padding: 10%;
    width:auto;
    margin-top:30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #818181;
}
label{
    margin:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: calc(70%/3);
    box-shadow: 0 0 0 3px #0a8d48 inset;
    color: #0a8d48;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}
label:has(input[type = "radio"]:disabled){
    box-shadow: 0 0 0 3px #858585 inset;
    color: #858585;
}
label:has([type = 'radio']:checked){
    background-color: #0a8d48;
    color: white;
}
input[type = "radio"]{
    appearance: none;
    
}
label:has(input[type="radio"]:not(:checked):not(:disabled)):hover {
    background-color: #00ff77;
}
input[type = "radio"]:disabled{
    appearance: none;
    
}
.wrapper{

    margin-top: 120px;
    position: relative;
    align-self: center;
    height: 80%;
    width: 80%;
    max-width: 700px;
}

button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    align-self: center;
    border: 1px solid #0a8d48;
    width: 90%;
    color: white;
    background-color: #0a8d48;
    border-radius: 10px;
    height: 40px;
}