{% extends 'base.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/chatbot.css') }}"
/>
<link rel="stylesheet" href="../../static/css/schedule.css" />
{% endblock %} {% block content %}
<div id="calendar">
  <div id="month">
    <button class="changeMonth"><</button>
    <span class="month"></span>
    <button class="changeMonth">></button>
  </div>
  <span class="week">일</span>
  <span class="week">월</span>
  <span class="week">화</span>
  <span class="week">수</span>
  <span class="week">목</span>
  <span class="week">금</span>
  <span class="week">토</span>
  <div id="wrap_day"></div>
</div>
<div id="schedules">
  <div id="scheduleDate">{{today.year}}년{{today.month}}월 {{today.day}}일</div>
  <div id="schedule">
    {% if result%} {% for item in result %}
    <div class="appointmentInfo">
      <div class="center-info">
        <h3>{{item.NAME}}</h3>
        <span class="center-info">{{item.ADDRESS}}</span>
        <span class="center-info">{{item.CONTACT}}</span>
      </div>
      <div class="time">
        <p>
          {{item.APPOINTMENT_DATE.year}}년 {{item.APPOINTMENT_DATE.month}}월
          {{item.APPOINTMENT_DATE.day}}일
        </p>
        <p>{{item.APPOINTMENT_TIME.replace(":00:00","")}}시 0분</p>
      </div>
    </div>
    {% endfor%} {% else %}
    <p>등록된 일정이 없습니다.</p>
    {% endif%}
  </div>
</div>

<script src="../../static/js/schedule.js"></script>
{% endblock %}
