<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/schedule.css">
</head>
<body>      
    <div id = 'calendar'>
        <div id = "month">
            <button class = 'changeMonth'><</button>
            <span class = 'month'></span>
            <button class = "changeMonth">></button>
        </div>
        <span class = 'week'>일</span>
        <span class = 'week'>월</span>
        <span class = 'week'>화</span>
        <span class = 'week'>수</span>
        <span class = 'week'>목</span>
        <span class = 'week'>금</span>
        <span class = 'week'>토</span>
        <div id = "wrap_day"></div>
    </div>
    <div id = 'schedule'>
        <div id = "scheduleDate"></div>
        
    </div>
    <script src = "../../static/js/schedule.js"></script>
</body>
</html>