<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <title>{{ title|default('mindLog - 청소년 정신 건강 솔루션') }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/UI.css') }}"
    />
    {% block styles %}{% endblock %} {% block head %}{% endblock %}
  </head>
  <body>
    {% include '_header.html' %}
    <!-- 헤더 -->
    {# 기존 header 블록은 제거 또는 주석처리 #} {% block content %}{% endblock
    %}

    <!-- 자바스크립트 -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
